.to-bottom{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 95%;
    margin-bottom: 5%;
}
.login-label{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 95%;
    flex-flow: column;
    text-align: center;
}
.login-label label{
    color: #ffffff;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: smaller;
    font-weight: initial;
}
.login-main{
    flex-flow: wrap;
}